.content {
    text-align: center;  
    background-color: rgb(152, 179, 156); 
} /* index.html title class */

.page {
    background-color: rgb(121, 129, 129);
}

.post {
    min-height: calc(100vh); 
    background-color: rgb(204, 224, 224); 
}

.container { 
    width: 100%;
    max-width: 600px;
    padding-top: 10px; 
    margin-left: auto;
    margin-right: auto;
} 

.side {
    background-color: rgb(107, 126, 109); 
    text-align: center;
    border-bottom: 8px solid #212529;
    padding: 12px;
}  /* navigation bar css */

.side-nav {
    font-weight: bolder;
    font-size: x-large;
    max-width: 600px;
    display: inline-block;
}

.side a {
	color: inherit;
}

.side-title {
	font-weight: 700;
}

.side-item {
	list-style-type: none;
    margin-left: none; 
    padding: 2rem;
} 

.footer {
    text-align: center;  
    font-size: 75%;
    margin-left: auto;
    margin-right: auto;
} 

.footer-side {
    color: rgb(99, 96, 96);
    height: 10px;
    font-size: 75%;
}

#main {
    margin-top: 1em;
    margin-bottom: 4em;
} 

h1.title {
    font-family: 'Norican';
    font-size: 200%;
}

.font-125 {
    font-size: 125%;
}

.feather-16 {
    width: 16px;
    height: 16px;
}

.tag-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

.share-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

img {
    max-width: 100%;
}

a.title:link, a.title:visited, a.title:hover, a.title:active {
    color: black;
    text-decoration: none;
}

a.summary:link, a.summary:visited, a.summary:hover, a.summary:active {
    color: black;
    text-decoration: none;
}

a.black-link:link, a.black-link:visited, a.black-link:active {
    color: black;
    text-decoration: none;
}

a.black-link:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.black-link-bold:link, a.black-link-bold:visited, a.black-link-bold:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.grey-link:link, a.grey-link:visited, a.grey-link:active {
    color: darkgrey;
    text-decoration: none;
}

a.grey-link:hover {
    color: darkgrey;
    text-decoration: none;
    font-weight: bold;
}

.btn-light{
    border: 1px solid black;
    border-radius: .25rem;
    font-size: smaller;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100px;
} 